.sythil_page_template {
margin: 20px;
}

.sythil_iframe_wrap {
width: 400px;
height: 300px;
padding: 0;
overflow: hidden;
}

.sythil_webpage_preview {
width: 1600px;
height: 1200px;
border: 0;
-ms-transform: scale(0.25);
-moz-transform: scale(0.25);
-o-transform: scale(0.25);
-webkit-transform: scale(0.25);
transform: scale(0.25);
-ms-transform-origin: 0 0;
-moz-transform-origin: 0 0;
-o-transform-origin: 0 0;
-webkit-transform-origin: 0 0;
transform-origin: 0 0;
}